<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <defaultDocument>
      <files>
        <clear />
       <add value="default.aspx" />
      </files>
  </defaultDocument>

  </system.webServer>
  <system.web>
    <!-- <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" /> -->
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
</configuration>